<div class="elx-standard-result">
  <div class="header">{ title }</div>
 {#each candidates as candidate, index}

  <div class="candidate{index + 1}">
    <div class="check">{ #if candidate.winner }x{:else}&nbsp;{/if}</div>
    <div class="name"> { candidate.name } <span class="party">({ candidate.party })</span></div>
    <div class="percent winner">{ candidate.percent }%</div>
  </div>
  {/each}
  <div class="elx-reporting">{ reporting }% REPORTING</div>
</div>
<script>
export default {
  data: function() {
    return {
      title: "Governor",
      reporting: 60,
      candidates: [
        { winner: true, name: "Walz", party: "D", percent: 44 },
        { winner: false, name: "Murphy", party: "R", percent: 45 }
      ]
    }
  }
}

</script>
