<div class="elx-bop-result-desktop">
  <div class="header">{ customTitle || title }</div>

  {#if loaded}
    <div class="dem-big-number">{ demTotal }</div>
    <div class="gop-big-number">{ repTotal } </div>

    <br clear=all>

    <div class="stacked-bar-graph">
      <span style="width:{ (demTotal / total) * 100}%" class="bar-dem"></span>
      <span style="width:{ ((total - (demTotal + repTotal))) * 100 / total  }%" class="bar-grey"></span>
      <span style="width:{ (repTotal / total) * 100 }%" class="bar-gop"></span>
    </div>

    <div class="dem-little">D</div>
    <div class="gop-little">R</div>

    <br clear=all>

    <div class="center">{ majority }
      <br>
      <span>|</span>
    </div>

    <!--
      <div class="elx-reporting"> { reporting }% REPORTING </div>
    -->
  {/if}
</div>

<script>
  import Civix from "../app/shared/civix.js";
  import { find, each } from "lodash";

  // Svelte logic
  export default {
    components: {},

    oncreate() {
      if (!this.get().embedded) {
        this.civix = new Civix(`trends/by-body/${this.get().id}`);
        this.civix.on("update", body => {
          this.set(body);
          this.set({ loaded: true });
        });
        this.civix.poll();
      }
    },

    ondestroy() {
      if (this.civix) {
        this.civix.cancel();
      }
    },

    computed: {
      dem: ({ trends, loaded }) => {
        if (!loaded) {
          return;
        }

        let dem = find(trends, { party_id: "dem" });

        // For dems, we add the others, as the senate has some
        // independent.
        // TODO: Ask around
        let others = find(trends, { party_id: "oth" });
        dem.current += others.current;
        dem.holdovers += others.holdovers;
        dem.insufficientVote += others.insufficientVote;
        dem.leading += others.leading;
        dem.netLeaders += others.netLeaders;
        dem.netWinners += others.netWinners;
        dem.winningTrend += others.winningTrend;
        dem.won += others.won;

        return dem;
      },

      rep: ({ trends, loaded }) => {
        if (!loaded) {
          return;
        }
        return find(trends, { party_id: "rep" });
      },

      demTotal: ({ dem, loaded }) => {
        if (!loaded) {
          return;
        }

        return dem.holdovers + dem.won;
      },

      repTotal: ({ rep, loaded }) => {
        if (!loaded) {
          return;
        }

        return rep.holdovers + rep.won;
      }
    },

    data: function() {
      return {
        loaded: false
      };
    }
  };
</script>
