  <div class="elx-standard-result">
    <div class="header">{ Governor }</div>
    <div class="candidate1">
      <div class="check">{ x }</div>
      <div class="name"> { Walz } <span class="party">(D)</span></div>
      <div class="percent winner">{ 48 }%</div>
    </div>
    <div class="candidate2">
      <div class="check">{ &nbsp; }</div>
      <div class="name">{ Murphy } <span class="party">(R)</span></div>
      <div class="percent">{ 44 }%</div>
    </div>
    <div class="elx-reporting">{ 60 }% REPORTING</div>
  </div>