<div class="elx-standard-result">
  <div class="header">{ customTitle || shortTitle }</div>

  {#if loaded}
    {#each contests[0].results as result, ri}
      {#if ~['dfl', 'dem', 'rep', 'gop'].indexOf(result.candidate.party_id)}
        <div class="candidate">
          <div class="check">{ #if result.winner }x{:else}&nbsp;{ /if }</div>
          <div class="name">
            { result.candidate.last }
            <span class="party">({ result.candidate.party.abbreviation[0] })</span>
          </div>

          { #if result.winner }
            <div class='percent winner'>{ Math.round(result.percent * 100) }%</div>
          { :else }
            <div class='percent'>{ Math.round(result.percent * 100) }%</div>
          { /if }
        </div>
      {/if}
    {/each}

    <div class="elx-reporting">
      { percentReporting }% REPORTING
    </div>
  {/if}
</div>

<script>
  import Civix from "../app/shared/civix.js";

  // Svelte logic
  export default {
    components: {},

    oncreate() {
      if (!this.get().embedded) {
        this.civix = new Civix(`contests/by-office/${this.get().id}`);
        this.civix.on("update", office => {
          this.set(office);
          this.set({ loaded: true });
        });
        this.civix.poll();
      }
    },

    ondestroy() {
      if (this.civix) {
        this.civix.cancel();
      }
    },

    computed: {
      percentReporting({ contests }) {
        if (contests && contests.length && contests[0]) {
          if (contests[0].reporting && contests[0].totalPrecincts) {
            return Math.round(
              (contests[0].reporting / contests[0].totalPrecincts) * 100
            );
          }
        }

        return "0";
      }
    },

    data: function() {
      return {};
    }
  };
</script>
