 <div class="elx-bop-result">
    <div class="header">{ U.S. Senate }</div>
    <div class="dem-big-number">{ 44 }</div>
    <div class="gop-big-number">{ 44} </div>
    <br clear=all>
    <div class="stacked-bar-graph">
      <span style="width:{ 44 }%" class="bar-dem"></span>
      <span style="width:{ 12 }%" class="bar-grey"></span>
      <span style="width:{ 44 }%" class="bar-gop"></span>
    </div>
    <div class="dem-little">D</div>
    <div class="gop-little">R</div>
    <br clear=all>
    <div class="center">{ 51 }
      <br>
      <span>|</span>
    </div>
    <div class="elx-reporting"> { 60 }% REPORTING  </div>
  </div>

  <script>
  // Dependencies and components
  import Header from "./_content-header.svelte.html";
  import Office from "./_content-office.svelte.html";
  import Body from "./_content-body.svelte.html";
  import StandardRace from "./_content-standard-race.svelte.html";
  import BopRace from "./_content-bop-race.svelte.html";


  // Svelte logic
  export default {
    components: {

      StandardRace,
      BopRace
    },

    oncreate: function() {
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>