<div class="elx-dashboard-desktop">
  <div class="elx-badge">
    <div class="resultsLogoSVG"></div>
    <h4>ELECTION</h4>
    <p>See full results</p>
  </div>
  <div class="elx-border"></div>
  <StandardRace id="Governor" title="Governor" reporting="{60}" candidates='{[
        { winner: true, name: "Walz", party: "D", percent: 48 },
        { winner: false, name: "Murphy", party: "R", percent: 44 }
      ]}' />
  <StandardRace id="Senate1" title="Senate" reporting="{60}" candidates='{[
        { winner: true, name: "Smith", party: "D", percent: 52 },
        { winner: false, name: "Housely", party: "R", percent: 48 }
      ]}' />
  <StandardRace id="Senate2" title="Senate" reporting="{60}" candidates='{[
        { winner: true, name: "Kloubuchar", party: "D", percent: 50 },
        { winner: false, name: "Newberger", party: "R", percent: 49 }
      ]}' />
  <StandardRace id="U.S. House, MN3" title="U.S. House, MN3" reporting="{60}" candidates='{[
        { winner: true, name: "Phillips", party: "D", percent: 48 },
        { winner: false, name: "Paulsen", party: "R", percent: 45 }
      ]}' />
  <StandardRace id="Attorney General" title="Attorney General" reporting="{60}" candidates='{[
        { winner: true, name: "Ellison", party: "D", percent: 55 },
        { winner: false, name: "Wardlow", party: "R", percent: 38 }
      ]}' />
  <!-- BORDER -->
  <div class="elx-border"></div>
  <!-- BOP RESULT -->
  <BopRaceDesktop id="U.S. Senate" title="U.S. Senate" total="{100}" majority="{51}" reporting="{60}" parties='{[
        { winner: true, party: "D", seats: 40 },
        { winner: false, party: "R", seats: 40 }
      ]}' />
  <BopRaceDesktop id="U.S. House" title="U.S. House" total="{435}" majority="{218}" reporting="{60}" parties='{[
        { winner: true, party: "D", seats: 193 },
        { winner: false, party: "R", seats: 236 }
      ]}' />
</div>
<!-- MOBILE VERSION1 -->
<!-- MOBILE VERSION1 -->
<!-- MOBILE VERSION1 -->
<div class="elx-dashboard">
  <div class="elx-badge">
    <h4>ELECTION</h4>
    <div class="resultsLogoSVG"></div>
    <p>See full results</p>
  </div>
  <div class="row1">
    <!--  FIRST -->
    <StandardRace id="Governor" title="Governor" reporting="{60}" candidates='{[
        { winner: true, name: "Walz", party: "D", percent: 48 },
        { winner: false, name: "Murphy", party: "R", percent: 44 }
      ]}' />
    <StandardRace id="Senate1" title="Senate" reporting="{60}" candidates='{[
        { winner: true, name: "Smith", party: "D", percent: 52 },
        { winner: false, name: "Housely", party: "R", percent: 48 }
      ]}' />
    <StandardRace id="Attorney General" title="Attorney General" reporting="{60}" candidates='{[
        { winner: true, name: "Ellison", party: "D", percent: 55 },
        { winner: false, name: "Wardlow", party: "R", percent: 38 }
      ]}' />
  </div>
  <div class="row2">
    <!-- BOP RESULT -->
    <BopRaceMobile id="U.S. Senate" title="U.S. Senate" total="{100}" majority="{51}" reporting="{60}" parties='{[
        { winner: true, party: "D", seats: 40 },
        { winner: false, party: "R", seats: 40 }
      ]}' />
    <BopRaceMobile id="U.S. House" title="U.S. House" total="{435}" majority="{218}" reporting="{60}" parties='{[
        { winner: true, party: "D", seats: 193 },
        { winner: false, party: "R", seats: 236 }
      ]}' />
  </div>
</div>
<script>
// Dependencies and components
// import Header from "./_content-header.svelte.html"; 
// import Office from "./_content-office.svelte.html";
// import Body from "./_content-body.svelte.html";

import StandardRace from "./_content-standard-race.svelte.html";
import BopRaceDesktop from "./_content-bop-race-d.svelte.html";
import BopRaceMobile from "./_content-bop-race-m.svelte.html";


// Svelte logic
export default {
  components: {
    StandardRace,
    BopRaceDesktop,
    BopRaceMobile
  }
};

</script>
