<div class="elx-dashboard-desktop">
  <div class="elx-badge">
    <div class="resultsLogoSVG"></div>
    <h4>ELECTION</h4>
    <p>See full results</p>
  </div>
  <div class="elx-border"></div>
  <!--  STANDARD RACE RESULT 1-->
  <div class="elx-standard-result">
    <div class="header">Governor</div>
    <div class="candidate1">
      <div class="check">x</div>
      <div class="name">Walz <span class="party">(D)</span></div>
      <div class="percent winner">48%</div>
    </div>
    <div class="candidate2">
      <div class="check">&nbsp;</div>
      <div class="name">Murphy <span class="party">(R)</span></div>
      <div class="percent">44%</div>
    </div>
    <div class="elx-reporting">60% REPORTING</div>
  </div>
   <!--  STANDARD RACE RESULT 2-->
  <div class="elx-standard-result">
    <div class="header">Governor</div>
    <div class="candidate1">
      <div class="check">x</div>
      <div class="name">Walz <span class="party">(D)</span></div>
      <div class="percent winner">48%</div>
    </div>
    <div class="candidate2">
      <div class="check">&nbsp;</div>
      <div class="name">Murphy <span class="party">(R)</span></div>
      <div class="percent">44%</div>
    </div>
    <div class="elx-reporting">60% REPORTING</div>
  </div>
   <!--  STANDARD RACE RESULT 3-->
  <div class="elx-standard-result">
    <div class="header">Governor</div>
    <div class="candidate1">
      <div class="check">x</div>
      <div class="name">Walz <span class="party">(D)</span></div>
      <div class="percent winner">48%</div>
    </div>
    <div class="candidate2">
      <div class="check">&nbsp;</div>
      <div class="name">Murphy <span class="party">(R)</span></div>
      <div class="percent">44%</div>
    </div>
    <div class="elx-reporting">60% REPORTING</div>
  </div>
   <!--  STANDARD RACE RESULT 4-->
  <div class="elx-standard-result">
    <div class="header">Governor</div>
    <div class="candidate1">
      <div class="check">x</div>
      <div class="name">Walz <span class="party">(D)</span></div>
      <div class="percent winner">48%</div>
    </div>
    <div class="candidate2">
      <div class="check">&nbsp;</div>
      <div class="name">Murphy <span class="party">(R)</span></div>
      <div class="percent">44%</div>
    </div>
    <div class="elx-reporting">60% REPORTING</div>
  </div>
   <!--  STANDARD RACE RESULT 5-->
  <div class="elx-standard-result">
    <div class="header">Governor</div>
    <div class="candidate1">
      <div class="check">x</div>
      <div class="name">Walz <span class="party">(D)</span></div>
      <div class="percent winner">48%</div>
    </div>
    <div class="candidate2">
      <div class="check">&nbsp;</div>
      <div class="name">Murphy <span class="party">(R)</span></div>
      <div class="percent">44%</div>
    </div>
    <div class="elx-reporting">60% REPORTING</div>
  </div>
  <!-- BORDER -->
  <div class="elx-border"></div>
  <!-- BOP RESULT -->
  <div class="elx-bop-result">
    <div class="header">U.S. Senate</div>
    <div class="dem-big-number">44</div>
    <div class="gop-big-number">44</div>
    <br clear=all>
    <div class="stacked-bar-graph">
      <span style="width:44%" class="bar-dem"></span>
      <span style="width:12%" class="bar-grey"></span>
      <span style="width:44%" class="bar-gop"></span>
    </div>
    <div class="dem-little">D</div>
    <div class="gop-little">R</div>
    <br clear=all>
    <div class="center">51
      <br>
      <span>|</span>
    </div>
    <div class="elx-reporting">60% REPORTING</div>
  </div>
   <!-- BOP RESULT -->
  <div class="elx-bop-result last">
    <div class="header">U.S. Senate</div>
    <div class="dem-big-number">44</div>
    <div class="gop-big-number">44</div>
    <br clear=all>
    <div class="stacked-bar-graph">
      <span style="width:44%" class="bar-dem"></span>
      <span style="width:12%" class="bar-grey"></span>
      <span style="width:44%" class="bar-gop"></span>
    </div>
    <div class="dem-little">D</div>
    <div class="gop-little">R</div>
    <br clear=all>
    <div class="center">51
      <br>
      <span>|</span>
    </div>
    <div class="elx-reporting">60% REPORTING</div>
  </div>
</div>
<!-- MOBILE VERSION -->
<div class="elx-dashboard">
  <div class="elx-badge">
    <h4>ELECTION</h4>
    <div class="resultsLogoSVG"></div>
    <p>See full results</p>
  </div>
  <div class="row1">
    <!--  FIRST -->
    <div class="elx-standard-result">
      <div class="header">Governor</div>
      <div class="candidate1">
        <div class="check">x</div>
        <div class="name">Walz <span class="party">(D)</span></div>
        <div class="percent winner">48%</div>
      </div>
      <div class="candidate2">
        <div class="check">&nbsp;</div>
        <div class="name">Murphy <span class="party">(R)</span></div>
        <div class="percent">44%</div>
      </div>
      <div class="reporting">60% REPORTING</div>
    </div>
    <!-- SECOND -->
    <div class="elx-standard-result">
      <div class="header">Senate</div>
      <div class="candidate1">
        <div class="check">x</div>
        <div class="name">Smith <span class="party">(D)</span></div>
        <div class="percent winner">48%</div>
      </div>
      <div class="candidate2">
        <div class="check">&nbsp;</div>
        <div class="name">Housely <span class="party">(R)</span></div>
        <div class="percent">44%</div>
      </div>
      <div class="reporting">60% REPORTING</div>
    </div>
    <!-- THIRD -->
    <div class="elx-standard-result last">
      <div class="header">Senate</div>
      <div class="candidate1">
        <div class="check">x</div>
        <div class="name">Klobuchar <span class="party">(D)</span></div>
        <div class="percent winner">48%</div>
      </div>
      <div class="candidate2">
        <div class="check">&nbsp;</div>
        <div class="name">Newberger <span class="party">(R)</span></div>
        <div class="percent">44%</div>
      </div>
      <div class="reporting">60% REPORTING</div>
    </div>
  </div>
  <div class="row2">
    <!-- FOURTH -->
    <div class="elx-bop-result ">
      <div class="header">U.S. Senate
        <div class="header-center-text">51 seats majority</div>
      </div>
      <table class="bop-table">
        <tr>
          <td>
            <div class="dem-little">D</div>
          </td>
          <td style="width:100%;">
            <div class="stacked-bar-graph">
              <span style="width:44%" class="bar-dem">44</span>
              <span style="width:12%" class="bar-grey"></span>
              <span style="width:44%" class="bar-gop">44</span>
            </div>
          </td>
          <td>
            <div class="gop-little">R</div>
          </td>
        </tr>
      </table>
      <div class="reporting">60% REPORTING</div>
      <div class="center"><span>|</span></div>
    </div>
    <!-- FIFTH -->
    <div class="elx-bop-result last">
      <div class="header">U.S. House
        <div class="header-center-text">218 seats majority</div>
      </div>
      <table class="bop-table">
        <tr>
          <td>
            <div class="dem-little">D</div>
          </td>
          <td style="width:100%;">
            <div class="stacked-bar-graph">
              <span style="width:30%" class="bar-dem">193</span>
              <span style="width:10%" class="bar-grey"></span>
              <span style="width:60%" class="bar-gop">236</span>
            </div>
          </td>
          <td>
            <div class="gop-little">R</div>
          </td>
        </tr>
      </table>
      <div class="reporting">100% REPORTING</div>
      <div class="center">
        <span>|</span>
      </div>
    </div>
  </div>
</div>
