.elx-dashboard {
  max-width: 540px;
  line-height: 1.375;
  background: white;
  width: 100%;
  margin: 10px 0 0px 0;
  font-family: "Benton Sans";
  border-bottom: #918f90 solid 1px;
  margin-bottom: 24px;

  .elx-badge {
    display: inline-block;
    width: 100%;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;

    .resultsLogoSVG {
      display: inline;
      margin: -4px 0 -5px 0;
      width: 27px;
      height: 27px;
      background-size: 27px 27px;
      float: left;
      background: url(http://stmedia.startribune.com/images/elex18-logo-fallback-100.png);
      background: url(http://static.startribune.com/preview/elections-2018/homepage/elex18-logo-40.svg),
      none;
      background-repeat: no-repeat;
    }

    h4 {
      color: #231F20;
      font-size: 13px;
      margin: 2px 0 0 0;
      padding-right: 8px;
      letter-spacing: .11px;
      float: left;
    }

    p {
      font-size: 10px;
      color: #231F20;
      float: right;
      margin: 4px 0 0 0;
      text-transform: uppercase;
    }
  }


  .elx-border {
    width: 1px;
    height: 57px;
    background-color: #c9c8c8;
    float: left;
    margin: 0 10px;
  }
  /*STANDARD BOX*/
  .row1 {
    display: block;
    clear: both;
    width: 100%;
    margin: 12px 0 0 0;
    display: inline-table;
    .elx-standard-result {

      width: 30%;
      height: 56px;
      float: left;
      margin: 0 5% 0 0;
      &.last {
        float: right;
        margin: 0;
      }

      .header {
        color: #231F20;
        font-weight: bold;
        font-size: 8.5px;
        padding-bottom: 0px;
        margin-bottom: 3px;
      }



      .candidate1,
      .candidate2 {
        color: #231F20;
        margin-bottom: 1px;
        width: 100%;
        display: block;
        height: 15px;
        clear: both;
        border-bottom: 1px #c9c8c8 solid;
        .check {
          float: left;
          font-size: 9px;
          min-width: 10px;
        }
        .name {
          float: left;
          font-size: 9px;
        }
        .party {
          font-size: 7px;
        }
        .percent {
          padding-top: 1px;
          float: right;
          font-size: 8.5px;
          &.winner {
            font-weight: bold;
          }
        }
      }
      .candidate2 {
        clear: both;
        border-bottom: 0;
        padding: 0;
        margin: 1px 0 0 0;
        line-height: 1em;
      }

      .reporting {
        display: block;
        color: #2A2A2A;
        font-size: 7px;
        letter-spacing: .5px;
        padding-top: 3px;
      }
    }
  }
  /*BOP BOX*/
  .row2 {
    clear: both;
    width: 100%;
    margin: 12px 0 19px 0;
    display: inline-table;

    .elx-bop-result {
      width: 46.5%;
      height: 39px;
      float: left;
      margin: 0;
      position: relative;
      &.last {
        float: right;
        margin: 0 0 0 7%;
      }

      .header {
        color: #231F20;
        font-weight: bold;
        font-size: 8.5px;
        padding-bottom: 0px;
        .header-center-text {
          width: 50%;
          float: right;
          font-size: 7px;
          font-weight: normal;
          margin-left: -3px;
        }
      }
      .bop-table {
        border: none;
        vertical-align: middle;
        margin: 4px 0 0 0;
        border-collapse: collapse;
        border-spacing: 0;
        td {
          border: none;
          vertical-align: middle;
          padding: 0;
          min-width: 8px;
        }
        .stacked-bar-graph {
          width: 100%;
          height: 12px;
          color: #cccccc;

          .bar-dem {
            background: #22409a;
            font-size: 8px;
            font-weight: bold;
            text-align: left;
            color: #fff;
          }

          .bar-grey {
            background: #cccccc;
          }

          .bar-gop {
            background: #da2228;
            font-size: 8px;
            font-weight: bold;
            text-align: right;
            color: #fff;
          }
          span {
            display: inline-block;
            height: 100%;
            box-sizing: border-box;
            float: left;
            padding: 1.2px 3px;
          }
        }

        .dem-little {
          font-size: 7.5px;
          margin-top: 2px;
          font-weight: bold;
          color: #222222;
          float: left;
        }

        .gop-little {
          font-size: 7.5px;
          margin-top: 2px;
          font-weight: bold;
          color: #222222;
          float: right;
        }
      }

      .center {
        font-size: 8px;
        line-height: 9px;
        color: #333333;
        position: absolute;
        text-align: center;
        width: 100%;
        margin-top: -26px;
        span {
          color: #fff;
          font-size: 14px;
          font-weight: bold;
        }
      }

      .reporting {
        display: block;
        color: #2A2A2A;
        font-size: 7px;
        letter-spacing: .5px;
        padding-top: 0px;
        margin-top: 5px;
        width: 100%;
        text-align: left;
      }
    }
  }
}
